@model MyRestaurant.Models.Reservation

@{
    ViewBag.Title = Model.Number;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservation @Model.Number</h2>

<ul>
    <li>Number: @Model.Number</li>
    <li>Name: @Model.Name</li>
    <li>Table: @Model.Table.Name</li>
</ul>
