@model IEnumerable<MyRestaurant.Models.Reservation>

@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservations</h2>
@if (!Model.Any())
{
    <p>There is no reservations for the moment.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Number</th>
                <th>Client Name</th>
                <th>Table</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var reserve in Model)
            {
                <tr>
                    <td>@reserve.Number</td> 
                    <td>@Html.ActionLink(reserve.Name, "Details", "Reservations", new { id = reserve.Id }, null)</td>                   
                    <td>@reserve.Table.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
