@model IEnumerable<MyRestaurant.Models.Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@Html.ActionLink(product.Name, "Details", "Products", new { id = product.Id }, null)</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>


